### Project 2 Data ETL

This Notebook extracts data about Countries from our HRMI excel book and loads into a Mongodb collection.
1 - Reads the excel workbook into a pandas dataframe
2 - Loops through each sheet and creates a pandas dataframe from each sheet. Stores in a python dictionary
3 - Merge all the dictionaries into one dictioanry, thereby combining theCountries data
4 - Cleans up the data by renaming colmns that do not meet dictionary data types
5 - Creates a dataframe from each worksheet
2 - Loads into 'countries' collection in Mongo database

In [149]:
data_source = "data/"

In [211]:
import pandas as pd

### read worksheet into pandas

In [229]:
sheets_dict = pd.read_excel(data_source+'HRMI_Website_DataSet_2020.6.22.xlsx', sheet_name=None)

In [269]:
list(sheets_dict.keys())

['ESR_LMY_IncomeAdjusted',
 'ESR_HiY_IncomeAdjusted',
 'ESR_LMY_GlobalBest',
 'ESR_HiY_GlobalBest',
 'ESR_Sex_Disaggregated',
 'ESR_PeopleAtRisk',
 'CPR_Data']

### Loop through the worksheets and create a DataFrame and store in dictionary sheetsDF

In [258]:
sheetsDF = {}
for i in list(sheets_dict.keys()):
    data = i+'DF'
    sheetsDF[data] = sheets_dict[i]
    sheetsList.append(sheets_dict[i])

### Merge the dictionaries and create one DataFrame

In [260]:
data = {**sheetsDF['ESR_LMY_IncomeAdjustedDF'], **sheetsDF['ESR_HiY_IncomeAdjustedDF'],**sheetsDF['ESR_LMY_GlobalBestDF'], \
       **sheetsDF['ESR_HiY_GlobalBestDF'], **sheetsDF['ESR_Sex_DisaggregatedDF']}

recs = pd.DataFrame(data)

In [270]:
recs.head(3)

,Country,Country_Code,High_Income_Country,Year,IncomeAdjusted_LMY_Quality_Of_Life_Score,IncomeAdjusted_LMY_Right_to_Education_Score,IncomeAdjusted_LMY_Right_to_Health_Score,IncomeAdjusted_LMY_Right_to_Housing_Score,IncomeAdjusted_LMY_Right_to_Food_Score,IncomeAdjusted_LMY_Right_to_Work_Score,...,Most_Recent_Value_For_Net_Secondary_School_Enrolment_Females,Income_Adjusted_Penalty_For_Net_Secondary_School_Enrolment_Females,Income_Adjusted_Score_For_Net_Secondary_School_Enrolment_Females,Global_Best_Penalty_For_Net_Secondary_School_Enrolment_Females,Global_Best_Score_For_Net_Secondary_School_Enrolment_Females,Most_Recent_Value_For_Net_Secondary_School_Enrolment_Males,Income_Adjusted_Penalty_For_Net_Secondary_School_Enrolment_Males,Income_Adjusted_Score_For_Net_Secondary_School_Enrolment_Males,Global_Best_Penalty_For_Net_Secondary_School_Enrolment_Males,Global_Best_Score_For_Net_Secondary_School_Enrolment_Males
0,Aruba,ABW,1,2007,NaN,85.825384,NaN,90.774345,NaN,NaN,...,81.79688,2.857266,78.939614,2.857266,78.939614,79.25072,3.195111,76.055609,3.195111,76.055609
1,Aruba,ABW,1,2008,NaN,82.936936,NaN,91.017818,NaN,NaN,...,77.85939,3.348167,74.511223,3.348167,74.511223,71.15534,4.128252,67.027088,4.128252,67.027088
2,Aruba,ABW,1,2009,NaN,78.373131,NaN,91.705310,NaN,NaN,...,80.97252,1.884065,79.088455,1.884065,79.088455,74.57757,2.400676,72.176894,2.400676,72.176894

### Rename columns

In [262]:
rename = {
    'IncomeAdjusted_LMY_Right_to_Education_Score.1':'IncomeAdjusted_LMY_Right_to_Education_Score_1',
    'IncomeAdjusted_LMY_Right_to_Health_Score.1': 'IncomeAdjusted_LMY_Right_to_Health_Score_1',
    'IncomeAdjusted_LMY_Right_to_Housing_Score.1': 'IncomeAdjusted_LMY_Right_to_Housing_Score_1',
    'IncomeAdjusted_LMY_Right_to_Food_Score.1': 'IncomeAdjusted_LMY_Right_to_Food_Score_1',
    'IncomeAdjusted_LMY_Right_to_Work_Score.1': 'IncomeAdjusted_LMY_Right_to_Work_Score_1',

    'IncomeAdjusted_HiY_Right_to_Education_Score.1': 'IncomeAdjusted_HiY_Right_to_Education_Score_1',
    'IncomeAdjusted_HiY_Right_to_Health_Score.1': 'IncomeAdjusted_HiY_Right_to_Health_Score_1',
    'IncomeAdjusted_HiY_Right_to_Housing_Score.1': 'IncomeAdjusted_HiY_Right_to_Housing_Score_1',
    'IncomeAdjusted_HiY_Right_to_Food_Score.1': 'IncomeAdjusted_HiY_Right_to_Food_Score_1',
    'IncomeAdjusted_HiY_Right_to_Work_Score.1': 'IncomeAdjusted_HiY_Right_to_Work_Score_1',
    
    'GlobalBest_LMY_Right_to_Education_Score.1': 'GlobalBest_LMY_Right_to_Education_Score_1',
    'GlobalBest_LMY_Right_to_Health_Score.1': 'GlobalBest_LMY_Right_to_Health_Score_1',
    'GlobalBest_LMY_Right_to_Housing_Score.1': 'GlobalBest_LMY_Right_to_Housing_Score_1',
    'GlobalBest_LMY_Right_to_Food_Score.1': 'GlobalBest_LMY_Right_to_Food_Score_1',
    'GlobalBest_LMY_Right_to_Work_Score.1': 'GlobalBest_LMY_Right_to_Work_Score_1',
    'Most_Recent_Observation_%_Population_Not_Absolutely_Poor_(>$3.20_2011PPP$)': 'Most_Recent_Observation_%_Population_Not_Absolutely_Poor_(>$3_20_2011PPP$)',
    'Year_of_Most_Recent_Observation_on_%_Population_Not_Absolutely_Poor_(>$3.20_2011PPP$)': 'Year_of_Most_Recent_Observation_on_%_Population_Not_Absolutely_Poor_(>$3_20_2011PPP$)',
    'GlobalBest_HiY_Right_to_Education_Score.1': 'GlobalBest_HiY_Right_to_Education_Score_1',
    'GlobalBest_HiY_Right_to_Health_Score.1': 'GlobalBest_HiY_Right_to_Health_Score_1',
    'GlobalBest_HiY_Right_to_Housing_Score.1': 'GlobalBest_HiY_Right_to_Housing_Score_1',
    'GlobalBest_HiY_Right_to_Food_Score.1': 'GlobalBest_HiY_Right_to_Food_Score_1',
    'GlobalBest_HiY_Right_to_Work_Score.1': 'GlobalBest_HiY_Right_to_Work_Score_1'
}

recs.rename(columns=rename, inplace=True)

### Connect to pyMongo and insert data into database

In [141]:
import pymongo

In [142]:
conn = 'mongodb://localhost:27017'

In [207]:
client = pymongo.MongoClient(conn)

In [264]:
db = client.country_db

In [267]:
db.countries.insert_many(recs.to_dict('records'))